.root {
    -fx-base: #f9f9f9;
}

.sidebar {
    -fx-background-color: #e8e8e8;
}

.sidebar-button {
    -fx-background-color: #d4d4d4; /* màu trung tính nhẹ */
    -fx-text-fill: #222222; /* đậm để dễ đọc */
    -fx-font-size: 14px;
}

.sidebar-label {
    -fx-text-fill: #777777;
    -fx-font-size: 12px;
}

.logo-title {
    -fx-font-size: 26px;
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
}

.logo-subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #555555;
}

.version-label {
    -fx-text-fill: #999999;
    -fx-font-size: 10px;
}

.separator {
    -fx-background-color: #cccccc;
}

.label {
    -fx-text-fill: #444444;
}

.text-area, .text-field {
    -fx-background-color: #5a5959;
    -fx-text-fill: #333333;
}

.button {
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.button:hover {
    -fx-background-color: #1c5a85;
}

.table-view {
    -fx-background-color: #c8c8a4;
    -fx-text-fill: #333333;
    -fx-table-cell-border-color: transparent;
    -fx-selection-bar: #2980b9;
    -fx-selection-bar-text: white;
}
